@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Kanit:wght@300&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

html,body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    /*background: radial-gradient(circle at 50% 25%, rgb(0, 255, 255) 0%, black 100%);*/
    background-attachment: fixed;
}
/**/
#shader{
    width: 60%;
    height: 125%;
    position: fixed;
    left: 19%;
    border-radius: 60%;
    top: -80%;
    box-shadow: rgba(0,0,0,0.8);
}

header{
    z-index: 2000;
    position: fixed !important;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    overflow: hidden;
    top:0%;
}

header nav{
    position: sticky;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    top: 0;
    margin: 0;
}

header nav a {
    margin: 0 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 104.6%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

header nav img{
    text-align: center;
    width: 5%;
}

header nav .btn_login{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #0B0C13;
    padding: 5px 10px;
    background: #11E0E7;
    border-radius: 16.5px;
}

.container{
    position: relative;
    min-height: 100%;
    height: 100%;
}

.content{
    color:white;
    position: relative;
    z-index: 100;
}

.content h1{
    width: 100%;
    font-family: "Expletus Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1em;
    margin-top: 12rem;
}

.content h2{
    width: 100%;
    font-family: "Expletus Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 104.6%;
    text-align: center;
    letter-spacing: 3.005em;
    text-transform: uppercase;
    margin-top: 2.5rem;
    /*text-indent: 4vw;*/
    padding-left: 3.005em !important;
}
.content p{
    margin-top: 1rem;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 104.6%;
    text-align: center;
    color: #FFFEFE;
}

.content .bi-eye{
    fill:rgba(255,255,255, 0.7);
    background:rgba(255,255,255, 0.2);
    color: white !important;
    border-radius: 50%;
    padding: 0.5%;
    margin-left:calc(50% - 51px);
    text-align: center;
    margin-top: 2rem !important;
}

.content .slider{
    display:block;
    margin-top: 3rem;
}

.content .slider .line{
    transition: 1s;
    cursor: pointer;
}

.content .slider .line:nth-child(1){
    z-index: 1;
    position: absolute;
    left: 100px;
    margin: auto;
    height: 1px;
    background: #FFFEFE;
    width:10%;
}

.content .slider .line:nth-child(1) .arrow{
    z-index: 10;
    position: absolute;
    left: 8px;
    width:40px;
    height: 40px;
    border-top: 1px solid #FFFEFE;
    border-left: 1px solid #FFFEFE;
    transform: rotate(-45deg);
    transition: 0.3s ;
    top: -1.22rem;
}

.content .slider .line:nth-child(1):hover{
    transform: translateX(-15%);
}

.content .slider .line:nth-child(2){
    position: absolute;
    right: 100px;
    margin: auto;
    height: 1px;
    background: #FFFEFE;
    width:10%;
}

.content .slider .line:nth-child(2) .arrow{
    position: absolute;
    right: 8px;
    width:40px;
    height: 40px;
    border-top: 1px solid #FFFEFE;
    border-left: 1px solid #FFFEFE;
    transform: rotate(135deg);
    transition: 0.3s ;
    top: -1.22rem;
}

.content .slider .line:nth-child(2):hover{
    transform: translateX(15%);
}

.content .slider .lineHelper{
    margin-top:1rem;
    z-index: 100;
    width: 100%;
    text-align: center;
}

.content .slider .lineHelper .line2{
    position: absolute;
    left: 48.5%;
    height: 15%;
    background: #FFFEFE;
    width:1px;
    transition: 0.3s ;
    bottom: -55%;
}

.content .slider .lineHelper .line2 .arrow2{
    position: absolute;
    width:30px;
    left: -14px;
    height: 30px;
    border-top: 1px solid #FFFEFE;
    border-left: 1px solid #FFFEFE;
    transform: rotate(225deg);
    transition: 0.3s ;
    bottom: 4px;
}

.content .slider .lineHelper .line2:hover{
    transform: translateY(30%);
}

.content .slider .lineRSI{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #FFFEFE;
    left: 140px;
    padding: 5px;
}

.content .slider .lineGene{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #FFFEFE;
    right: 140px;
    padding: 5px 1px;
}

.content .slider .counter{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    /*margin-left: calc(50% - 50px);*/
}

.content .slider h3{
    margin: 0;
    width: 100%;
    position: absolute;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1em;
    text-transform: uppercase;
    top: 160%;
    color: #FFFFFF;
}




